<sly data-sly-use.model="com.ttn.amc.demoProject.core.models.Header">
<sly data-sly-use.clientlibs="/libs/granite/sightly/templates/clientlib.html"
        data-sly-call="${clientlibs.all @categories='demoProject.demo'}"></sly>

   <p>${model.UserName}</p>
    <div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-12 text-center">
                <a  class="blog-header-logo text-dark" href="${properties.homeLink}">
                    <img src="${properties.buttonLinkTo}" class="ttn-logo">
                    ${properties.text}

                </a>

            </div>
        </div>
    </header>
    </div>
    <div class="nav-scroller py-2 mb-3">
        <nav class="nav d-flex">
            <a class="p-2 text-muted" href="${properties.homeLink}.html">Home</a>
            &nbsp&nbsp
            <a class="p-2 text-muted" href="${properties.publishLink}.html">Published Blogs</a>
        </nav>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
</sly>
