<sly data-sly-use.model="com.ttn.amc.demoProject.core.models.PublishedBlogsModel">
<sly data-sly-use.clientlibs="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlibs.all @categories='demoProject.demo'}"></sly>
<div class="container">
    <sly data-sly-test.var="${model.val}"></sly>
    <sly data-sly-list="${model.publishedBlogsFieldList @begin=0,end=var}">
        <div class="row">
            <div class="card flex-md-row mb-4 shadow-sm h-md-1200">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">${item.heading}</strong>
                    <h3 class="mb-0">
                        ${item.subHeading}
                        <a class="text-dark" href="">Featured Post</a>
                    </h3>
                    <div class="mb-1 text-muted">${item.currentDate}</div>
                    <p class="card-text mb-auto">${item.content}</p>
                    <a href="${item.link}.html">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-lg-block" src="${item.image}" alt="Card image cap" height="150px" width="250px">
            </div>
        </div>
    </sly>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script>
					window.jQuery
							|| document
									.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')
				</script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="assets/js/vendor/holder.min.js"></script>
    <script>
					Holder.addTheme('thumb', {
						bg : '#55595c',
						fg : '#eceeef',
						text : 'Thumbnail'
					});
	</script>
</sly>